body{

    /* background-image: url(/img/alfdexmonter.jpg); */
    background-image: url(alfdexmonter.jpg);
    background-size: 100%;
}

#pjoke{
  color: linen;
  width: 20rem;
  height: 20rem;
  border: 2px solid black;
  box-shadow: 20px 5px 20px black;
  font-weight: bolder;
  background-image: url(hkan.bmp);
  text-shadow: 3px 3px gray;
  text-align: center;
  font-size: x-large;
}

nav{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    border-bottom: 2px solid blue;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.656);
  }
  
  
  nav a{
    text-decoration: none;
    margin: 1rem;
    padding: 1rem;
  }
  
  nav a:visited{
    color: blue;
  }
  
  nav a:hover{
  background-color: grey;
  }
  
  nav a:nth-child(1){
    margin-left: 3rem;
  }
  

  .highlight{
    background-color: rgba(0, 0, 255, 0.637);
    border-radius: 20%;
  }

  .lowlight{
    background-color: rgba(0, 0, 255, 0.137);
    border-radius: 20%;

  }


#mainMain{
    display: flex;
    justify-content: center;
    
}
#theJokeButton{
    background-color: blue;
    color: white;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    box-shadow: 20px 10px 40px black;
}

#theJokeButton:active{
background-color: rgba(255, 0, 0, 0.37);
}

#theJokeButton:hover{
background-color: rgba(255, 0, 0, 0.664);
box-shadow: 20px 10px 40px grey;

}

#rutan{
    font-size: larger;
    font-weight: bolder;
    width: 18rem;
    height: 3rem;
    text-align: center;
    color: blue;
}
#content{
    margin-top: 5rem;
}

.center{
    display: flex;
    justify-content: center;
}

#adjectiveInput{
    background-color: white;
    height: 2rem;
}
#adjectiveButton{
  background-color: rgba(0, 255, 76, 0.623);
  color: white;
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 50%;
    height: 5rem;
    width: 8rem;
    box-shadow: 20px 10px 40px black;
}

#adjectiveButton:active{
background-color: rgba(255, 0, 0, 0.37);
}

#adjectiveButton:hover{
background-color: rgba(255, 0, 0, 0.664);
box-shadow: 20px 10px 40px grey;

}

#adjectiveInfo{
    font-size: xx-large;
    color: white;
    background-color: rgba(0, 255, 76, 0.623);
    border-radius: 1rem;
    padding: 1rem;



}

#myForm{
background-color: rgba(0, 0, 255, 0.2);
}

@media screen and (max-width:480px){
  nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: sticky;
    top: 0;
    border-bottom: 2px solid blue;
    padding: none;
    margin-bottom: 0rem;
    background-color: rgba(255, 255, 255, 0.656);
  }
  nav a{
    text-decoration: none;
    margin: 0.4rem;
    padding: 0.2rem;
  }


}


@media (max-width: 330px){
  #pjoke{
    color: linen;
    width: 20rem;
    height: 20rem;
    border: 2px solid black;
    box-shadow: 20px 5px 20px black;
    font-weight: bolder;
    background-image: url("/img/hkan.bmp");
    text-shadow: 3px 3px gray;
    text-align: center;
    font-size: x-large;
}
}